@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$fontSize : 18px;
$fontWeight : 400;
$font-family-1: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
$font-family-2: 'Lobster', cursive;

