@use "_h-fonts.scss" as F;
@use "_h-colors.scss" as C;

/*HTML*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font: F.$font-family-1, F.$fontSize, F.$fontWeight;
  text-align: center;
}

.Body {
  background-color: C.$c-blue;
}