@use "_h-fonts.scss" as F;

/*HTML*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: F.$font-family;
  font-weight: F.$fontWeight ;
  font-size: F.$fontSize;
  text-align: center;
}
.Body {
  background-color: #4C7B9D;
}